nav {
  width: 100%;
  height: 40px;
  background-color: maroon;
  font-weight: 600;
  display: flex;
}

nav ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0px 50px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: green;
  padding: 10px;
  cursor: pointer;
}

#icon {
  cursor: pointer;
  display: none;
}

.form_logout {
  position: absolute;
  right: 10px;
  top: 5px;
}

.logout {
  background-color: transparent;
  border: none;
}

#formCreate, #formModify, #formDelete {
  display: none;
}

@media screen and (max-width: 767px) {
  #icon {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
  }

  #icon:before {
    content: "\2630";
    color: black;
  }

  .active #icon:before {
    content: "\2715";
    color: black;
  }

  nav.active ul {
    left: -60px;
    top: 40px;
    width: 30%;
  }

  .navigation {
    position: absolute;
    background: maroon;
    right: 100%;
    top: 40px;
    flex-direction: column;
    width: 25%;
    text-align: center;
    transition: 0.3s;
  }

  nav ul li {
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  nav ul li a {
    font-weight: normal;
  }
}
