header{
  background-image: url('../../img/employe/tortue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

svg {
  width: 35px;
}

.form_logout {
  position: absolute;
  right: 10px;
  top: 5px;
}

.logout {
  background-color: transparent;
  border: none;
}

h1 {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin: 10px auto 40px auto;
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.avis {
  background-color: #7e9c7e31;
}

.gestion{
  border: 1px solid black;
}

.prenom {
  text-decoration: underline;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  margin-left: 10px;
}

.number {
  text-align: end;
  margin-right: 20px;
  margin-bottom: 0;
}

.status {
  text-align: end;
  margin-right: 20px;
  font-weight: bold;
}

.but {
text-align: end;
margin-top: 30px;
margin-bottom: 20px;
}

.messageAvis{
font-weight: bold;
}

section {
  margin-bottom: 50px;
}

.service {
  background-color: rgba(255, 196, 114, 0.551);
}

.label {
  padding-left: 15px;
  padding-bottom: 8px;
  padding-top: 15px;
}

#label{
  padding-left: 4px;
  padding-top: 15px;
  display: flex;
}

#selectedService, #selectedPartService{
  width: 60%;
  margin-left: 20px;
  height: 30px;
}

#input{
  margin-top: 8px;
  margin-left: 10px;
  width: 60%;
}

.avis, .service, .food {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.food{
  background-color: rgba(253, 129, 203, 0.489);
}

.foodLabel{
font-weight: bold;
margin-left: 20px;
margin-right: 20px;
}

.foodInput{
  justify-content: center;
}
@media screen and (max-width: 767px) {
 svg {
  width: 30px;
 }

 h2 {
  margin-top: 50px;
  font-size: 2.6rem;
 }
}

@media screen and (max-width: 576px) {

  .but {
    text-align: center;
  }

  .btn {
    width: 100%;
  }
}