* {
  margin: 0px ;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

h1,h2,h3 {
  font-family: "Lumanosimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.header{
  position: fixed;
  display: flex;
  background-color: transparent;
  z-index: 10;
} 

.organization_recycl1{
  position: fixed;
  left: 10px;
  margin-top: 10px;
}

.organization_recycl2{
  position: fixed;
  right: 200px;
  margin-top: 120px;
}

.recyclage_icon1, .recyclage_icon2{
  position: fixed;
  width: 120px;
}

h1{
  position: fixed;
  right: 50px;
  font-size: 4rem;
  letter-spacing: 10px;
  color: gold;
}

h2{
  color: white;
  font-size: 3rem;
  display: flex;
  position: absolute;
  bottom: 150px;
  left: 180px;
}

.change_title{
  color: green;
}

.btn{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 80px;
  left: 180px;
  padding: 0;
}

.button, .change_btn{
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.change_btn{
  border: 1px green solid;
  color: green;
}

.button{
  border: 1px gold solid;
  color: gold;
}

.button:hover, .change_btn:hover {
  color: white;
  transition: 0.5s;
}

.button:hover{
  background-color: gold;
}

.change_btn:hover{
  background-color: green;
}

a, .change_a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

a{
    color: gold;
}

.change_a{
  color: green;
}

a:hover{
  color: white;
  background-color: gold;
  transition: 0.5s;
  border-radius: 30px;
}

a:hover, .change_a:hover {
    transition: 0.5s;
  border-radius: 30px;
  color: white;
}

.change_a:hover{
  color: white;
  background-color: green;

}

.change_btn:hover{
  background-color: green;
}

.org_sec{ 
  height: 100%;
}

.organization{
  width: auto;
  max-width: 100%;
  height: 914px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  justify-content: end;
}

@media screen and (max-width: 1199px) {
h1{
  font-size: 3.4rem;
}

.recyclage_icon1{
width: 100px;
}

.recyclage_icon2{
  width: 100px;
}

.organization_recycl2{
  margin-top: 80px;
}

h2, .btn{
  left: 130px;
}

}


@media screen and (max-width: 992px) {
.organization{
  height: 800px;
}

h1{
  letter-spacing: normal;
  right: 20px;
}

.recyclage_icon2{
  right: 20px;
}
  
h2{
  font-size: 2.6rem;
}
}


@media screen and (max-width: 767px) {
.organization{
  height: 600px;
}

h1{
  font-size: 2.6rem;
}
h2{
  font-size: 2.2rem;
}
}


@media screen and (max-width: 650px) {
  .organization{
    height: 400px;
  }

.recyclage_icon1{
  display: none;
}

.recyclage_icon2{
  top: 50px;
  width: 70px;
}

h2, .btn{
  left: 30px;
}
}

@media screen and (max-width: 576px) {

}