* {
  margin: 0px ;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {

  font-family: 'Poppins', sans-serif;
  display: inline-block;
  width: 100%;
  color: green;
}
/* -------------------------------NAVBAR------------------------------------ */
nav {
  height : 70px;
  display: flex;
  background-color: #454545;
}

nav .titre-principal { 
 color: white;
 letter-spacing: 5px;
 font-size: 3.6rem;
 line-height: 80px;
 font-weight: 300;
 padding: 0 50px;
 display: flex;
 width: 30%;
 align-items: center;
 margin: 0;
}

.nav-div {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

#logo_nav {
  width: 30%;
}

nav ul {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
  padding: 0px; 
}

nav ul li {
  line-height: 80px;
  padding: 0;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 10px; 
  transition: 0.5s;
}

nav ul li a:hover{
  color: green;
  padding: 10px; 
  cursor: pointer;
}

#icon {
  cursor: pointer;
  display: none;
}
/* -------------------------------MAIN------------------------------------ */

.principal{
align-self: center;
}

.principal1 {
  display: flex;
  justify-content: center;
}

.btn1, .btn3 {
  width: 100%;
}

.btn2{
  display: none;
}

h2{
  text-align: center;
  font-size: 3.2rem;
  margin: 20px auto;
}

.main_div {
  display: flex;
}

.main_section {
  border: 1px solid black;
}

.main_h3 {
  font-style: italic;
  margin: 50px auto;
  text-decoration: underline;
  text-align: center;
}

.img_train {
  background-repeat: no-repeat;
}

.main_h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}

.main_h6 {
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

.main_a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.main_a:hover {
  cursor: pointer;
  background-color: #45454555;
}

/* -------------------------------FOOTER------------------------------------ */
.section-footer {
  overflow: hidden;
  width: 100%;
  background-color: #454545;
  color: white;
  font-size: 0.75rem;
}

.contenu-footer {
  border-bottom: 1px solid white;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.footer-div {
  display: block;
  width: 25%;
}

.footer-titre {
  font-size: 1rem;
  font-weight: 700;
  margin: 8px auto; 
  text-align: center;
}

.footer-ul{
  text-align: center;
  font-size: 0.8rem;
}

.footer-li {
  margin: 15px auto;
}

.footer-a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-a:hover {
  text-decoration: none;
  color: green;
}

 .footer-copyright {
  text-align: center;
} 

/* -------------------------------MEADIA QUERIES------------------------------------ */

@media screen and (max-width: 1400px) {

  #logo_nav {
    width: 40%;
  }
}

@media screen and (max-width: 1199px) {

  nav .titre-principal { 
    font-size: 2.5rem;
    padding-left: 30px;
    width: 30%;
    margin: 0px;
   }

   nav ul {
    width: 50%;
    margin: 0px
  }

  nav ul li {
    padding-right: 15px;
    margin-right: 15px;
  } 

   nav ul li a {
    font-size: 0.9rem;
  }

  .nav-div {
    width: 20%;
    justify-content: left; 
  }

  #logo_nav {
    width: 22%;
  }

  nav ul li a:hover{
    color: rgb(0, 204, 51);
    cursor: pointer;
  }

  .main_h3{
    font-size: 1.4rem;
  }

  .main_h5 {
    font-size: 1rem;
  }

  .main_h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }
}


@media screen and (max-width: 992px) {

  nav .titre-principal { 
    font-size: 2.2rem;
    padding: 0px;
    justify-content: center;
    width: 30%;
   }

   .nav-div {
    width: 25%;
  }
  
  nav ul li {
    padding-right: 5px;
    margin-right: 5px;
  }
  
  nav ul li a {
    font-size: 0.9rem;
  }

  .footer-titre {
    font-size: 0.9rem;
  }

  .footer-ul{
    font-size: 0.7rem;
  }

  .main_h5 {
    margin: 10px auto;
  }

  h2 {
    font-size: 2.5rem;
  }

  .img_train{
    display: flex;
    justify-content: center;
  }

  .main_h3{
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 767px) {
  
  body {
    width: 100%;
  }

  nav .titre-principal { 
    font-size: 2.4rem;
    padding-left: 10px;
    width: 30%;
   }

   nav ul {
    width: 60%;
    float: right;
  }

  nav ul li a {
    font-size: 0.8rem;
    padding: 2px;
  }

  nav ul li a:hover{
    padding: 2px;
  }

 .nav-div {
    width: 10%;
    margin-left: 20px;
  }

  #logo_nav{
    width: 40px;
  }

 .contenu-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }

  .footer-titre {
    font-size: 1rem;
  }

  .footer-a {
    padding: auto 15px;
  }

  .footer-div {
    width: 50%;
  } 

  .footer-li {
    margin: 10px auto;
  }
  
  .main_h3 {
    font-size: 1.3rem;
  }

  .btn1 {
    display: none;
  }

  .btn2 {
    display: flex;
  }

  .btn2, .btn3 {
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 650px) {
  nav .titre-principal { 
    font-size: 2.1rem;
    margin-left: 0;
    text-align: left;
   }

   nav ul {
    padding-left: 0px;
  }

  nav ul li a {
    font-size: 0.75rem;
  }

  .navigation {
    display: flex;
  }

}

@media screen and (max-width: 576px) {
  nav .titre-principal { 
    width: 60%;
   }

   .nav-div {
    width: 30%;
   }

  #icon {
    margin-top: 23px;
    display: block;
  }

  #icon:before {
    content: "\2630";
    color: white;
  }

  .active #icon:before {
    content: "\2715";
    color: white;
  }

  nav.active ul {
    right: 0;
  }

.navigation {
    position: absolute;
    background: #454545;
    right: 100%;
    top: 70px;
    flex-direction: column-reverse;
    width: 25%;
    text-align: center;
    transition: 0.3s;
  }

  nav ul li {
    text-align: center;
    width: 100%;
  }

  .main_h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 2rem;
  }
}
