
* {
  margin: 0px ;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,h2,h3,h4 {
  font-family: "Lumanosimo", cursive;
  font-weight: 400;
  font-style: normal;
}

nav {
  height : 70px;
  display: flex;
  background-color: #454545;
}

nav .titre-principal { 
 color: white;
 letter-spacing: 5px;
 font-size: 3.6rem;
 line-height: 80px;
 font-weight: 300;
 padding: 0 50px;
 display: flex;
 width: 30%;
 align-items: center;
 margin: 0;
}

.nav-div {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

#logo_nav {
  width: 60px;
}

nav ul {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
  padding: 0px; 
}

nav ul li {
  line-height: 80px;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 10px; 
  transition: 0.5s;
}

nav ul li a:hover{
  color: green;
  padding: 10px; 
  cursor: pointer;
}

#icon {
  cursor: pointer;
  display: none;
}


/* -------------------------------------------------------------------- */
/* Création contenu page d'accueil  */

.citation {
  font-family: 'Great Vibes', cursive;
}

blockquote {
  font-size: 2.5rem;
  margin-top: 10px;
}

cite {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-right: 90px;
}

.img_recyclage1, .img_recyclage2 {
  height: 120px;
}

.container {
  margin: 0 auto;
  padding: 0px;
}

.container-div{
  padding: 0;
  text-align: center;
  background-size: cover;
  border-radius: 10px;
  height: 200px;
  max-width: 100%;
}

.container-a{
  color: white;
  text-decoration: none; 
}

.container-titre {
  height: 100%;
  padding-top: 10px;
  transition: 0.4s;
  opacity: 0;
  align-items: center;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1.2rem;
  }

  .container-avis{
    margin-bottom: 30px;
  }

  .container-avis1{
    margin-bottom: 30px;
    line-height: 30px;
  }

.container-titre:hover {
  opacity: 1; 
  background-color: #4545457a;
  border-radius: 10px;
  }

.avis{
  font-size: 2.1rem;
  text-decoration: underline;
}

.img_service {
  border-radius: 5%;
}


/* -------------------------------------------------------------------- */
/* Création du footer */
.section-footer {
  overflow: hidden;
  width: 100%;
  background-color: #454545;
  color: white;
  font-size: 0.75rem;
}

.contenu-footer {
  border-bottom: 1px solid white;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.footer-div {
  display: block;
  width: 25%;
}

.footer-titre {
  font-size: 1rem;
  font-weight: 700;
  margin: 8px auto; 
  text-align: center;
}

.footer-ul{
  text-align: center;
  font-size: 0.75rem;
}

.footer-li {
  margin: 15px auto;
}

.footer-a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-a:hover {
  text-decoration: none;
  color: green;
}

 .footer-copyright {
  text-align: center;
} 

img{
  max-width: 100%;
  height: auto;
}

/* -------------------------------MEADIA QUERIES------------------------------------ */

@media screen and (max-width: 1400px) {
  blockquote {
    font-size: 2.1rem;
  }

  cite {
    margin-right: 60px;
  }
}
@media screen and (max-width: 1199px) {

  nav .titre-principal { 
    font-size: 2.5rem;
    padding-left: 30px;
    width: 30%;
    margin: 0px;
   }

   nav ul {
    width: 50%;
    margin: 0px
  }

  nav ul li {
    padding-right: 15px;
    margin-right: 15px;
  } 

   nav ul li a {
    font-size: 0.9rem;
  }

  .nav-div {
    width: 20%;
    justify-content: left; 
  }

  nav ul li a:hover{
    color: rgb(0, 204, 51);
    cursor: pointer;
  }

  .img_recyclage1, .img_recyclage2 {
    height: 110px;
  }

  blockquote {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  cite {
    margin-right: 60px;
  }

  .avis {
    text-decoration: underline;
  }
  .img-responsive {
    width: 20%;
    margin-bottom: 40px
  }
  
  .avis_para {
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {

  nav .titre-principal { 
    font-size: 2.2rem;
    padding: 0px;
    justify-content: center;
    width: 30%;
   }

   .nav-div {
    width: 25%;
  }

  .contenu-footer{
    width: 100%;
  }
  
  nav ul li {
    padding-right: 5px;
    margin-right: 5px;
  }
  
  nav ul li a {
    font-size: 0.9rem;
  }

  blockquote {
    font-size: 1.6rem;
    margin-bottom: 0px;
  }

  cite {
    font-size: 1.2rem;
  }

  .img-responsive {
    width: 30%;
  }

  .container-avis1{
    margin-bottom: 20px;
    height: auto;
  }

  .avis_séparation1{
    height: auto;
  }

  .footer-titre {
    font-size: 0.9rem;
  }

  .footer-ul{
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  
  body {
    width: 100%;
  }

  nav .titre-principal { 
    font-size: 2.4rem;
    padding-left: 10px;
    width: 30%;
   }

   nav ul {
    width: 60%;
    float: right;
  }

  nav ul li a {
    font-size: 0.8rem;
    padding: 2px;
  }

  nav ul li a:hover{
    padding: 2px;
  }

 .nav-div {
    width: 10%;
    margin-left: 20px;
  }

  #logo_nav{
    width: 50px;
  }

  .avis{
    font-size: 1.6rem;
  }

  .img_presentation{
    height: 320px;
  }

 .contenu-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }

  .footer-titre {
    font-size: 1rem;
  }

  .footer-a {
    padding: auto 15px;
  }

  cite {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .container-avis{
    border-width: 0px;
  }

  .footer-div {
    width: 50%;
  } 

  .footer-li {
    margin: 10px auto;
  }
  
}

@media screen and (max-width: 650px) {
  nav .titre-principal { 
    font-size: 2.1rem;
    margin-left: 0;
    text-align: left;
   }

   nav ul {
    padding-left: 0px;
  }

  nav ul li a {
    font-size: 0.75rem;
  }

  .navigation {
    display: flex;
  }

  cite {
    margin-top: 10px;
    margin-right: 0;
  }

}

@media screen and (max-width: 576px) {
  nav .titre-principal { 
    width: 60%;
   }

   .nav-div {
    width: 30%;
   }

  #icon {
    margin-top: 23px;
    display: block;
  }

  #icon:before {
    content: "\2630";
    color: white;
  }

  .active #icon:before {
    content: "\2715";
    color: white;
  }

  nav.active ul {
    right: 0;
  }

.navigation {
    position: absolute;
    background: #454545;
    right: 100%;
    top: 70px;
    flex-direction: column-reverse;
    width: 25%;
    text-align: center;
    transition: 0.3s;
  }

  nav ul li {
    text-align: center;
    width: 100%;
  }

  blockquote {
    font-size: 1.3rem;
  }

  cite {
    font-size: 1rem;
  }

  .img_recyclage1{
   display: none; 
  }

  .avis_séparation1{
    font-size: 0.9rem;
  }
  
}