* {
  margin: 0px ;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h1,h2,h3,h4 {
  font-family: "Lumanosimo", cursive;
  font-weight: 400;
  font-style: normal;
}

nav {
  height : 70px;
  display: flex;
  background-color: #522f07;
}

nav .titre-principal { 
 color: white;
 letter-spacing: 5px;
 font-size: 3.6rem;
 line-height: 80px;
 font-weight: 300;
 padding: 0 50px;
 display: flex;
 width: 30%;
 align-items: center;
 margin: 0;
}

.nav-div {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

#logo_nav {
  width: 60px;
}

nav ul {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
  padding: 0px; 
}

nav ul li {
  line-height: 80px;
  padding: 0;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 10px; 
  transition: 0.5s;
}

nav ul li a:hover{
  color: green;
  padding: 10px; 
  cursor: pointer;
}

#icon {
  cursor: pointer;
  display: none;
}
/* --------------------------- MAIN /!\------------------------- */
.setup {
  background-image: url('../../img/avis/escargot1.jpg');
  background-size: cover;
  height: 800px;
  width: 100%;
  font-family: 'Caveat', cursive;
}

h2 {
  display: flex;
  justify-content: center;  
  font-size: 2.3rem;
  color: #ffffff;
  text-decoration: underline;
  padding: 30px 30px;
  font-weight: 400;

}

form {
  display: flex;
  justify-content: center;
}

.formulaire {
  background-color: #afafaf;
  width: 40%;
  display: block;
  justify-content: center;
  align-self: center;
  padding: 10px;
  border-radius: 20px;
}

button {
  position: relative;
  left: 80%;
}

/* Important, do not resize the text box  */
.form-control {
  resize: none;
}

#errorName, #errorDesc {
  color: red;
}

.message{
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
}

/* --------------------------- FOOTER /!\------------------------- */

.section-footer {
  overflow: hidden;
  width: 100%;
  background-color: #522f07;
  color: white;
  font-size: 0.75rem;
}

.contenu-footer {
  border-bottom: 1px solid white;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.footer-div {
  display: block;
  width: 25%;
}

.footer-titre {
  font-size: 1rem;
  font-weight: 700;
  margin: 8px auto; 
  text-align: center;
}

.footer-ul{
  text-align: center;
  font-size: 0.75rem;
}

.footer-li {
  margin: 15px auto;
}

.footer-a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer-a:hover {
  text-decoration: none;
  color: green;
}

 .footer-copyright {
  text-align: center;
} 

/* -------------------------------MEADIA QUERIES------------------------------------ */

@media screen and (max-width: 1199px) {

  nav .titre-principal { 
    font-size: 2.5rem;
    padding-left: 30px;
    width: 30%;
    margin: 0px;
   }

   nav ul {
    width: 70%;
  }

  nav ul li {
    padding-right: 15px;
  } 

   nav ul li a {
    font-size: 0.9rem;
  }

  .nav-div {
    width: 10%;
    justify-content: left; 
  }

  nav ul li a:hover{
    color: rgb(0, 204, 51);
    cursor: pointer;
  }

  button {
    left: 70%;
  }

  .formulaire{
    width: 60%;
  }
}


@media screen and (max-width: 992px) {

  nav .titre-principal { 
    font-size: 2.2rem;
    padding: 0px;
    justify-content: center;
    width: 30%;
   }
  
  nav ul li {
    padding-right: 0px;
  }

  .navigation {
    margin: auto 10px;
   }
  
  nav ul li a {
    font-size: 0.9rem;
  }

  .contenu-footer{
    width: 100%;
  }

  .footer-ul{
    padding-left: 10px;
  }

  .footer-titre {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2rem;
  }

}


@media screen and (max-width: 767px) {
  
  body {
    width: 100%;
  }

  nav .titre-principal { 
    font-size: 2rem;
    padding-left: 5px;
   }

   .navigation {
    margin: 0;
   }

   nav ul {
    justify-content: end;
  }
 
  nav ul li {
    padding-right: 15px;
  }

  nav ul li a{
    padding: 0;
  }

  nav ul li a:hover{
    padding: 0px; 
  }

  .nav-div {
    justify-content: end;
  }

  #logo_nav{
    width: 50px;
  }

 .contenu-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }

  .footer-titre {
    font-size: 1rem;
  }

  .footer-a {
    padding: auto 15px;
  }

  .footer-div {
    width: 50%;
  } 

  .footer-li {
    margin: 10px auto;
  }

  h2 {
    font-size: 1.6rem;
  }

  .message{
    font-size: 1rem;
  }
}


@media screen and (max-width: 650px) {
  nav .titre-principal { 
    font-size: 1.8rem;
    margin-left: 0;
    text-align: left;
   }

   nav ul {
    padding-left: 0px;
  }

  nav ul li a {
    font-size: 0.75rem;
  }

  .navigation {
    display: flex;
  }

}

@media screen and (max-width: 576px) {
  nav .titre-principal { 
    width: 60%;
   }

   .nav-div {
    justify-content: center;
    width: 10%;
   }

  #icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
  }

  #icon:before {
    content: "\2630";
    color: white;
  }

  .active #icon:before {
    content: "\2715";
    color: white;
  }

  nav.active ul {
    right: 0;
  }

  .navigation {
    position: absolute;
    background: #522f07;
    right: 100%;
    top: 70px;
    flex-direction: column-reverse;
    width: 35%;
    text-align: center;
    transition: 0.3s;
  }

  nav ul li {
    text-align: center;
    width: 100%;
    padding: 0px;
  }

  h2 {
    font-size: 1.4rem;
  }

  button {
    left: 60%;
  }
}

@media screen and (max-width: 400px) {
  h2{
    font-size: 1.2rem;
  }

  button {
    left: 50%;
  }
}